*.pyc
*.o
*.obj
*..iobj
*.pdb
*.ipdb
*.exp
*.ilk
.vs
.vscode
__pycache__
src/**/.vscode/*
src/**/screenshot/*
src/**/release/*
src/**/debug/*
src/**/bin/*
src/**/sample/*
src/**/memdll/*.md
util/asset/**
util/bin/**
util/script/**
util/src/**
util/include/bintext.h
util/include/winhook.h
thirdparty/asset/**